<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.id %>
</p>

  <p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
    <div class="span8">
    <% if @user.orders.any? %>
      <h3>orders (<%= @user.orders.count %>)</h3>
      <ol class="orders">
        <%= render @orders %>
      </ol>
    <% end %>
  </div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
