
<li>
  <span class="content"><%= order.user_id %></span>
  <span class="content"><%= order.id %></span>
  <span class="content"><%= order.price %></span>
  <span class="content"><%= order.order_state %></span>
  <td><%= link_to '文件详情', options= {:controller =>'orders',:action =>"show"} %></td>

</li>